AUTH_ORACLE_PASSWORD=replace-with-local-oracle-password
AUTH_DB_PASSWORD=replace-with-auth-database-password
WORKSPACES_ORACLE_PASSWORD=replace-with-local-oracle-password
WORKSPACES_DB_PASSWORD=replace-with-workspaces-database-password
PROJECTS_ORACLE_PASSWORD=replace-with-local-oracle-password
PROJECTS_DB_PASSWORD=replace-with-projects-database-password
